.other-radio input[type='radio'] + label span {
  transition: background 0.2s, transform 0.2s;
}

.other-radio input[type='radio'] + label span:hover,
.other-radio input[type='radio'] + label:hover span {
  transform: scale(1.2);
}

.other-radio input[type='radio']:checked + label span {
  background-color: #3490dc;
  box-shadow: 0px 0px 0px 2px white inset;
}

.other-radio input[type='radio']:checked + label {
  color: #3490dc;
}

.reason-input {
  display: none;
}

form.other-radio:has(input.other:checked) .reason-input {
  display: block;
}

form.other-radio {
  min-height: 175px;
}
