.form-error input {
  border: 4px solid var(--color);
  border-radius: 4px;
  padding: 1rem 2rem;
  font-weight: 400;
}

.form-error label {
  color: var(--color);
}

.form-error input::placeholder {
  color: transparent;
}

.form-error input:focus-visible {
  outline-color: var(--color);
}

.form-error:has(:invalid) {
  --color: red;
}

.form-error:has(:focus) {
  --color: white;
}

.form-error:has(:valid) {
  --color: green;
}

.form-error:has(:placeholder-shown) {
  --color: white;
}
