@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(20, 20, 20);
  --text-color: rgb(230, 230, 230);
}

html,
#root {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}
